[submodule "inc/multipart-entry"]
	path = inc/multipart-entry
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/lib/multipart-entry
[submodule "skins/boxed-beige"]
	path = skins/boxed-beige
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-beige
[submodule "skins/boxed-blue"]
	path = skins/boxed-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-blue
[submodule "skins/boxed-citrus"]
	path = skins/boxed-citrus
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-citrus
[submodule "skins/boxed-gold"]
	path = skins/boxed-gold
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-gold
[submodule "skins/boxed-green"]
	path = skins/boxed-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-green
[submodule "skins/boxed-purple"]
	path = skins/boxed-purple
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-purple
[submodule "skins/boxed-red"]
	path = skins/boxed-red
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-red
[submodule "skins/boxed-silver"]
	path = skins/boxed-silver
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-silver
[submodule "skins/boxed-teal"]
	path = skins/boxed-teal
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/boxed-teal
[submodule "skins/classic-beige"]
	path = skins/classic-beige
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-beige
[submodule "skins/classic-blue"]
	path = skins/classic-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-blue
[submodule "skins/classic-citrus"]
	path = skins/classic-citrus
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-citrus
[submodule "skins/classic-gold"]
	path = skins/classic-gold
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-gold
[submodule "skins/classic-green"]
	path = skins/classic-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-green
[submodule "skins/classic-purple"]
	path = skins/classic-purple
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-purple
[submodule "skins/classic-red"]
	path = skins/classic-red
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-red
[submodule "skins/classic-silver"]
	path = skins/classic-silver
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-silver
[submodule "skins/classic-teal"]
	path = skins/classic-teal
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classic-teal
[submodule "skins/classy-beige"]
	path = skins/classy-beige
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-beige
[submodule "skins/classy-blue"]
	path = skins/classy-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-blue
[submodule "skins/classy-citrus"]
	path = skins/classy-citrus
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-citrus
[submodule "skins/classy-gold"]
	path = skins/classy-gold
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-gold
[submodule "skins/classy-green"]
	path = skins/classy-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-green
[submodule "skins/classy-purple"]
	path = skins/classy-purple
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-purple
[submodule "skins/classy-red"]
	path = skins/classy-red
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-red
[submodule "skins/classy-silver"]
	path = skins/classy-silver
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-silver
[submodule "skins/classy-teal"]
	path = skins/classy-teal
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/classy-teal
[submodule "skins/copywriter-beige"]
	path = skins/copywriter-beige
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-beige
[submodule "skins/copywriter-blue"]
	path = skins/copywriter-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-blue
[submodule "skins/copywriter-citrus"]
	path = skins/copywriter-citrus
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-citrus
[submodule "skins/copywriter-gold"]
	path = skins/copywriter-gold
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-gold
[submodule "skins/copywriter-green"]
	path = skins/copywriter-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-green
[submodule "skins/copywriter-purple"]
	path = skins/copywriter-purple
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-purple
[submodule "skins/copywriter-red"]
	path = skins/copywriter-red
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-red
[submodule "skins/copywriter-silver"]
	path = skins/copywriter-silver
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-silver
[submodule "skins/copywriter-teal"]
	path = skins/copywriter-teal
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/copywriter-teal
[submodule "skins/shades-black"]
	path = skins/shades-black
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/shades-black
[submodule "skins/shades-blue"]
	path = skins/shades-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/shades-blue
[submodule "skins/shades-brown"]
	path = skins/shades-brown
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/shades-brown
[submodule "skins/shades-green"]
	path = skins/shades-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/shades-green
[submodule "skins/light-beige"]
	path = skins/light-beige
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-beige
[submodule "skins/light-blue"]
	path = skins/light-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-blue
[submodule "skins/light-citrus"]
	path = skins/light-citrus
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-citrus
[submodule "skins/light-gold"]
	path = skins/light-gold
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-gold
[submodule "skins/light-green"]
	path = skins/light-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-green
[submodule "skins/light-purple"]
	path = skins/light-purple
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-purple
[submodule "skins/light-red"]
	path = skins/light-red
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-red
[submodule "skins/light-silver"]
	path = skins/light-silver
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-silver
[submodule "skins/light-teal"]
	path = skins/light-teal
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/light-teal
[submodule "skins/kubrick-beige"]
	path = skins/kubrick-beige
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-beige
[submodule "skins/kubrick-blue"]
	path = skins/kubrick-blue
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-blue
[submodule "skins/kubrick-citrus"]
	path = skins/kubrick-citrus
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-citrus
[submodule "skins/kubrick-gold"]
	path = skins/kubrick-gold
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-gold
[submodule "skins/kubrick-green"]
	path = skins/kubrick-green
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-green
[submodule "skins/kubrick-purple"]
	path = skins/kubrick-purple
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-purple
[submodule "skins/kubrick-red"]
	path = skins/kubrick-red
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-red
[submodule "skins/kubrick-silver"]
	path = skins/kubrick-silver
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-silver
[submodule "skins/kubrick-teal"]
	path = skins/kubrick-teal
	url = ssh://git@roundtopsolutions.com/home/git/semiologic/skins/kubrick-teal
